Language:		Cpp
BasedOnStyle:	Google
IndentWidth:	4
TabWidth:		4
ColumnLimit:	90
UseTab:			Always
DerivePointerAlignment: false
PointerAlignment:		Left
AlignAfterOpenBracket:	BlockIndent
NamespaceIndentation:	All
IndentCaseLabels:		false
FixNamespaceComments:	false
AccessModifierOffset:	-4
AllowShortLoopsOnASingleLine:			false
AllowShortIfStatementsOnASingleLine:	false
AllowShortEnumsOnASingleLine:			false
AllowShortBlocksOnASingleLine:			false
AllowShortFunctionsOnASingleLine:		false
